.menu{
    background-color: rgb(225, 241, 255, 0.4);
    padding-top: 10px;
    overflow: scroll;
    height: auto;
}
.menu-list{
    display: flex;
    flex-direction: column;
    width: 750px;
    margin: 0 auto;
    gap: 5px;
}